**/scratch.*
/android/
/ios/
/src/controllers/edgeProvider/injectThisInWebView.js
/src/controllers/edgeProvider/client/rolledUp.js
node_modules
artifacts
# src/__tests__
src/actions
src/assets
src/components
src/constants
src/controllers
src/hooks
src/locales
src/plugins
src/reducers
src/selectors
src/state
src/styles
src/theme
src/types
src/util
src/app.ts
src/declare-modules.d.ts
src/env.ts
src/envConfig.ts
src/experimentConfig.ts
src/perf.ts
src/wdyr.ts
.bundle
.fastlane
.github
.gradle
.husky
.idea
.vscode
deployPatches
docs
localization
logs
maestro
patches
platform-tools
scripts
index.ts