language: node_js
node_js:
  - 16
before_install:
  - node scripts/hack-travis.mjs
install:
  - yarn install --frozen-lockfile --network-concurrency 1
  - yarn prepare
script:
  - yarn lint
  - yarn tsc
  - yarn test
