{
  "-------- api keys --------": 0,
  "AIRBITZ_API_KEY": "xxxx",
  "BUGSNAG_API_KEY": "xxxx",

  "-------- GUI plugin options --------": 0,
  "PLUGIN_API_KEYS": {
    "Bitrefill": "xxxx"
  },

  "-------- core plugin options (remove `x_` to activate) --------": 0,
  "x_CHANGELLY_INIT": {
    "apiKey": "xxxx",
    "secret": "xxxx"
  },
  "x_CHANGE_NOW_INIT": {
    "apiKey": ""
  },
  "x_CURRENCYCONVERTERAPI_INIT": {
    "apiKey": "xxxx"
  },
  "x_ETHEREUM_INIT": {
    "etherscanApiKey": "",
    "infuraProjectId": ""
  },
  "x_FAAST_INIT": {
    "affiliateId": "xxxx",
    "affiliateMargin": 0.5
  },
  "x_NOMICS_INIT": {
    "apiKey": "xxxx"
  },
  "x_SHAPESHIFT_INIT": {
    "apiKey": "xxxx",
    "clientId": "xxxx",
    "secret": "xxxx"
  },
  "x_TOTLE_INIT": {
    "affiliateContract": "xxxx"
  },

  "-------- app options --------": 0,
  "DEBUG_CORE_BRIDGE": false,
  "USE_FAKE_CORE": false,
  "USE_FIREBASE": true
}
