{
  "AIRBITZ_API_KEY": "AIRBITZ_ANDROID_API_KEY",
  "HOCKEY_APP_ID": {
    "android": "HOCKEYAPP_ANDROID_ID",
    "ios": "HOCKEYAPP_ANDROID_API_ID"
  },
  "ETHERSCAN_API_KEY": "XXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "SHAPESHIFT_API_KEY": "SHAPESHIFT_API_KEY",
  "SHAPESHIFT_CLIENT_ID": "XXXXXXXXXXXXXX",
  "SHAPESHIFT_SECRET": "XXXXXXXXXXXX",
  "USE_FAKE_CORE": false
}
