{
  "-------- api keys --------": 0,
  "AIRBITZ_API_KEY": "",
  "BUGSNAG_API_KEY": "",

  "-------- GUI plugin options --------": 0,
  "PLUGIN_API_KEYS": {
    "Bitrefill": ""
  },

  "-------- core plugin options (remove `x_` to activate) --------": 0,
  "x_CHANGELLY_INIT": {
    "apiKey": "",
    "secret": ""
  },
  "x_CHANGE_NOW_INIT": {
    "apiKey": ""
  },
  "x_COINSWITCH_INIT": {
    "apiKey": ""
  },
  "x_CURRENCYCONVERTERAPI_INIT": {
    "apiKey": ""
  },
  "x_ETHEREUM_INIT": {
    "etherscanApiKey": [],
    "infuraProjectId": "",
    "blockchairApiKey": "",
    "alethioApiKey": "",
    "amberdataApiKey": ""
  },
  "x_FAAST_INIT": {
    "affiliateId": "",
    "affiliateMargin": 0.5
  },
  "X_FANTOM_INIT": {
    "ftmscanApiKey": ""
  },
  "x_FOX_INIT": {
    "apiKey": ""
  },
  "x_GODEX_INIT": {
    "apiKey": ""
  },
  "x_MONERO_INIT": {
    "apiKey": ""
  },
  "x_NOMICS_INIT": {
    "apiKey": ""
  },
  "x_SWITCHAIN_INIT": {
    "apiKey": ""
  },
  "x_TOTLE_INIT": {
    "affiliateContract": "",
    "apiKey": ""
  },
  "X_FIO_INIT": {
    "fioRegApiToken": ""
  },
  "X_SIDESHIFT_INIT": {
    "affiliateId": ""
  },

  "-------- app options --------": 0,
  "DEBUG_CORE_BRIDGE": false,
  "USE_FAKE_CORE": false,
  "USE_FIREBASE": true,
  "YOLO_DEEP_LINK": null,
  "YOLO_PASSWORD": null,
  "YOLO_USERNAME": null
}
