<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316670651096-r8a0c7kmr7p1hsuc1dpo4roo91b0qa8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316670651096-r8a0c7kmr7p1hsuc1dpo4roo91b0qa8a</string>
	<key>API_KEY</key>
	<string>AIzaSyCNB8bxRnFUMwJfE4VFOFRo2VNIMxBDzH4</string>
	<key>GCM_SENDER_ID</key>
	<string>316670651096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.edgesecure.app</string>
	<key>PROJECT_ID</key>
	<string>cryptobase-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptobase-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316670651096:ios:bf25e9ae65fe7c73d645ad</string>
</dict>
</plist>