<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="co.edgesecure.app">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
  <uses-feature android:name="android.hardware.fingerprint" android:required="false" />
  <uses-feature android:name="android.hardware.location" android:required="false" />

  <queries>
    <package android:name="com.bankid.bus" />
    <package android:name="se.bankgirot.swish" />
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
  </queries>

  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:extractNativeLibs="true"
    android:usesCleartextTraffic="true"
    android:theme="@style/AppTheme">
    <meta-data android:name="com.bugsnag.android.API_KEY"
               android:value="5aca2dbe708503471d8137625e092675"/>
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
      android:exported="true"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter android:label="Edge Deep Links" android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" />
        <data android:host="deep.edge.app" />
        <data android:host="dl.edge.app" />
        <data android:host="test.bitpay.com" />
        <data android:host="bitpay.com" />
      </intent-filter>
      <intent-filter android:label="Edge Login" android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="www.edge.app" android:pathPrefix="/edgelogin" />
      </intent-filter>
      <intent-filter android:label="Edge Recovery">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="recovery.edgesecure.co" android:path="/recovery" />
      </intent-filter>
      <intent-filter android:label="Edge Deep Links">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="edge" />
        <data android:scheme="airbitz" />
      </intent-filter>
      <intent-filter android:label="Address Requests">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="edge-ret" />
        <data android:scheme="airbitz-ret" />
      </intent-filter>
      <intent-filter android:label="Payment Links">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="bitcoin" />
        <data android:scheme="bitcoincash" />
        <data android:scheme="ethereum" />
        <data android:scheme="dash" />
        <data android:scheme="litecoin" />
      </intent-filter>
      <intent-filter android:label="Wallet Connect">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="wc" />
      </intent-filter>
    </activity>
  </application>
</manifest>
