<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="co.edgesecure.app"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />
  <uses-permission android:name="android.permission.USE_FINGERPRINT" />
  <uses-permission android:name="android.permission.BLUETOOTH" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
  <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
  <uses-feature android:name="android.hardware.fingerprint" android:required="false" />
  <uses-feature android:name="android.hardware.location" android:required="false" />

  <uses-sdk
    android:targetSdkVersion="28" />

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
  </queries>
  <application
    android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="false"
    android:extractNativeLibs="true"
    android:theme="@style/AppTheme"
    android:usesCleartextTraffic="true">
    <meta-data android:name="com.bugsnag.android.API_KEY"
               android:value="5aca2dbe708503471d8137625e092675"/>
    <activity
      android:name=".MainActivity"
      android:label="@string/app_name"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
      android:windowSoftInputMode="adjustPan"
      android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter android:label="Edge">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:host="recovery.edgesecure.co" android:path="/recovery" android:scheme="https"></data>
        <data android:scheme="airbitz"></data>
        <data android:scheme="airbitz-ret"></data>
        <data android:scheme="edge"></data>
        <data android:scheme="edge-ret"></data>
        <data android:scheme="bitcoin"></data>
        <data android:scheme="bitcoincash"></data>
        <data android:scheme="ethereum"></data>
        <data android:scheme="dash"></data>
        <data android:scheme="litecoin"></data>
        <data android:scheme="bankid"></data>
        <data android:scheme="swish"></data>
      </intent-filter>
      <intent-filter android:label="Edge" android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="www.edge.app" android:pathPrefix="/edgelogin"></data>
      </intent-filter>
      <intent-filter android:label="Edge" android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="dl.edge.app" android:pathPrefix="/"></data>
      </intent-filter>
      <intent-filter android:label="Edge" android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="deep.edge.app" android:pathPrefix="/"></data>
      </intent-filter>
    </activity>
  </application>
</manifest>
