<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>EXPORT_METHOD</string>
	<key>teamID</key>
	<string>Your10CharacterTeamId</string>
	<key>compileBitcode</key>
	<false/>
	<key>provisioningProfiles</key>
	<dict>
		<key>YourBundleIdHere</key>
		<string>YourProvisioningProfileNameHere</string>
	</dict>
	<key>uploadBitcode</key>
	<false/>
</dict>
</plist>
