// @flow

import { Actions } from 'react-native-router-flux'

import * as Constants from '../../../../constants/indexConstants.js'
import type { Dispatch, GetState } from '../../../ReduxTypes.js'

export const {{actionConstant}} = '{{actionConstant}}'

export const {{camelCaseName}}Function = () => (dispatch: Dispatch, getState: GetState) => {
  const state = getState()

}
