// @flow

import React, { Component } from 'react'
import { View } from 'react-native'

import s from '../../../../locales/strings.js'
import Text from '../../components/FormattedText'
import Gradient from '../../components/Gradient/Gradient.ui.js'
import SafeAreaView from '../../components/SafeAreaView'
import styles from './{{capitalizedName}}Style.js'

export type {{capitalizedName}}OwnProps = {

}

export type {{capitalizedName}}StateProps = {

}

export type {{capitalizedName}}DispatchProps = {

}

export type {{capitalizedName}}Props = {{capitalizedName}}OwnProps & {{capitalizedName}}StateProps & {{capitalizedName}}DispatchProps

export type {{capitalizedName}}State = {

}

export class {{capitalizedName}}Component extends Component<{{capitalizedName}}Props, {{capitalizedName}}State> {
  constructor (props: {{capitalizedName}}Props) {
    super (props)

  }

  render () {
    return (
      <SafeAreaView>

      </SafeAreaView>
    )
  }
}